# Word Count with Stop Words

In [1]:
import pandas as pd

# open and read needed files 
script_1 = open("script01.txt", "r") 
script1 = script_1.read()

script_2 = open("script02.txt", "r")
script2 = script_2.read()

stopwords = pd.read_csv("stopwords.csv")

In [2]:
# Use the same logic as the one for Task2 but add an additional code in this case to meet the given two conditions

filtering = "'-abcdefghijklmnopqrstuvwxyz"
stopwords_list = list(stopwords["above"]) # make a stopwords list to detect the words only matched to the stopwords
word_count = {} 

def counter(script): 
    script = script.lower()
    for letter in script:
        if letter not in filtering:
            script = script.replace(letter, " ")
    split_word = script.split(" ") 
    
    for word in split_word:
        if len(word) != 1: # 1st condition: delete any singletone words from scripts
            if word not in stopwords_list: # 2nd condition: filter out only the words belonging to the stopwords list
                if word not in word_count:
                    word_count[word] = 1
                else:
                    word_count[word] += 1
    del word_count['']
    return sorted(word_count.items(), key = lambda t:t[1], reverse = True) # sort it in desending order by values

count1 = counter(script1)[:10] # to find the 10 most frequently occuring words, get the ten words from the top
count1

[('jerry', 194),
 ('elaine', 74),
 ('helen', 38),
 ('oh', 32),
 ('george', 31),
 ('vanessa', 30),
 ('yeah', 25),
 ('morty', 23),
 ('know', 21),
 ('well', 16)]

In [3]:
df_count = pd.DataFrame(count1, columns = ("Word", "Count1")) # make a data frame with the word-count data drawn from above
df_count["Count2"] = 0 # make an additional column "Count2" with 0 so that the filtered counts from the script2 can be inserted directly
df_count

      Word  Count1  Count2
0    jerry     194       0
1   elaine      74       0
2    helen      38       0
3       oh      32       0
4   george      31       0
5  vanessa      30       0
6     yeah      25       0
7    morty      23       0
8     know      21       0
9     well      16       0

In [4]:
filtering = "'-abcdefghijklmnopqrstuvwxyz"

# To scan the alphabetical words in the script2, use the logic same with the task2
def counter(script): 
    script = script.lower()
    for letter in script:
        if letter not in filtering:
            script = script.replace(letter, " ")
    split_word = script.split(" ") 
    
    # add counts corresponding to the words in the data frame to the "Count2" column
    for word in split_word:
        for i in range(len(df_count)):
            if word == df_count.iloc[i, 0]:
                df_count.iloc[i, 2] +=1
    return df_count

final_df = counter(script2)
final_df

      Word  Count1  Count2
0    jerry     194      94
1   elaine      74      32
2    helen      38       0
3       oh      32      20
4   george      31      64
5  vanessa      30       0
6     yeah      25      18
7    morty      23       0
8     know      21      18
9     well      16      14

In [5]:
import numpy as np

# To write the data frame into a text file, 
# convert the data frame to numpy arrary 
# and then write it into a text file with a name "partc.txt"
np_df = final_df.to_numpy()
np.savetxt("partc.txt", np_df, delimiter = "|", header = "Word|Count1|Count2", fmt = "%s")